
<header>
    <nav class="navbar bg-info"> 
      <span style="font-size: 30px; color: white;">First App</span>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#"><button class="btn btn-success"> Log out</button></a>
        </li>
      </ul>
    </nav>
  </header>

  
<div class="card" style="padding: 20px; align-items: center; border:  1px solid greenyellow; margin: 50px; ">
  <div style="display: inline;">
   
    <!-- <button class="btn btn-info m-2" (click)="add2()">Second</button> -->
    <app-second *ngIf="isVisible" [myNumber]="counter"></app-second>
    <button class="btn btn-success mr-2" style="width: 80px;" (click)="increment()">+1</button>
    <button class="btn btn-warning mr-2" style="width: 80px;" (click)="decrement()">-1</button>
    <button class="btn btn-danger" style="width: 80px;" (click)="switchVisible()">Destroy</button>
    <div style="text-align: center;">
       <button class="btn btn-info m-2" (click)="add1()">First</button>
    </div>
  </div>
  <!-- <hr style="border: 1px solid blue;"> -->
          <router-outlet></router-outlet>
  </div>