
<header>
    <nav class="navbar bg-info"> 
      <span style="font-size: 30px; color: white;">First App</span>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#"><button class="btn btn-success"> Log out</button></a>
        </li>
      </ul>
    </nav>
  </header>

  
<div class="card" style="padding: 20px; align-items: center; border:  1px solid greenyellow; margin: 50px; ">
    <button class="btn btn-info m-2" (click)="add()">First</button>
        
        
          <router-outlet></router-outlet>
  </div>